.main{
    padding: 0;
    margin: 0;
    background: linear-gradient(white,white);

}

.img{
    position: absolute;
    top: 70px;
    left: 20px;
    width: 500px;
}

.text{
 position: absolute;
 font-size: 50px;  
 top: 390px;
 left: 60px;
 padding-left: 50px;
}