.main{
    padding: 0;
    margin: 0;
    background: linear-gradient(white,white);

}

.left img{
    position: absolute;
    top: -10px;
    left: 30px;
    width: 700px;
}


.left h3{
    font-size: 43px;
    position: absolute; 
    top: 420px;
    left: 110px;
    padding-left: 45px;
    padding-top: 30px;
    color: #0058C2;
    font-family: 'Times New Roman';
  
}

.left p{
    font-size: 20px;
    position: absolute; 
    top: 490px;
    left: 170px;
    padding-left: 45px;
    padding-top: 40px;
    color: #636166;
    font-family: Arial;

}

.right{
    position: absolute;
    left: 60%;
    top: 20%;
}

#input-names{
    width: 150px;
    height: 30px;
}


.right label{
    font-size: 13px;
    color: #636166;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
   
}

.right table tr td{
    padding-bottom: 15px;
}

.right input{
    width: 310px;
    height: 30px;
    background: #F1F1F1;
    border: 1px solid #3B7ECE;
    border-radius: 4px;
}

#Sign-up{
    width: 317px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #3B7ECE;
    color: #f9f9f9;
    background: #0058C2;
    position: absolute;
    margin-top: 10px;
    transition: 0.5s ease;
    

}

#Sign-up:hover{
    text-shadow: 0 0 20px 0px rgba(33, 102, 231, 0.2);
    cursor: pointer;
    scale: 1.05;

}


.log-in p{
padding-top: 70px;
font-size: 14px;
padding-left: 70px;
}

.log-in a{
    color: #0058C2;
    padding-left: 2px;

}

.log-in a:hover{
    font-weight: bold;
}

.log-in button{
    width: 150px;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: white;
    margin-top: 10px;
   

}

#right-button{
    margin-left: 20px;
}

.log-in span{
    color: #0058C2;
    position: absolute;
    top: 350px;
}

.or{
    padding-top: 10px;
}

.or span{
    padding-top: 10px; 
    font-size: 15px;
}

.icon ion-icon{
    font-size: 40px;
    padding-top: 40px;
    color: #0058C2;
    transition: 0.5s ease;   
}

.ic{
    padding-left: 48px;
}

.icon ion-icon:hover{
    text-shadow: 0 0 20px 0px rgba(33, 102, 231, 0.2);
    cursor: pointer;
    scale: 1.05;
}

